<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="POC">
<listeners>
<listener class-name="stc.b2b.c2m.msd365.Utilities.ExtentListenerClass"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="stc.b2b.c2m.msd365.Testcases.TC_RegisteredUserLoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- POC -->
